body {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.container {
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  max-height: 90vh;
}

#history {
  background: none;
  border: none;
  padding: 0;
}

#history img {
  width: 20px;
  height: auto;
  filter: invert(0.8);
}

#display {
  background: none;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
  cursor: default;
  pointer-events: none;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
}

.button-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

button {
  width: 60px;
  height: 60px;
  padding: 0;
  font-size: 1.5em;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

.number {
  background-color: #666;
  color: white;
}

.operator {
  background-color: #ff9500;
  color: white;
}

.function {
  background-color: #a6a6a6;
  color: black;
}

.zero {
  grid-column: span 2;
}

button:hover {
  opacity: 0.8;
}
