* {
  font-family: 'Courier New', Courier, monospace;
}
body {
  background-color: rgb(31, 31, 31);
}

a {
  color: cyan;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-block;
  margin: 5px 0;
}

.title {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.recipes-list {
  font-size: 1.5em;
  color: cyan;
  text-align: center;
  background-color: rgb(73, 72, 72);
}

.home {
  border-radius: 15%;
  border-color: aqua;
}

.recipe-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 4px solid aqua;
  width: 50%;
  height: auto;
}

.description {
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-block;
  margin: 15px 0;
  background-color: rgb(73, 72, 72);
}

.subtitle {
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  display: inline-block;
  margin: 15px 0;
  background-color: rgb(73, 72, 72);
}

.list {
  color: white;
  text-align: left;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  margin: 15px 0;
  background-color: rgb(73, 72, 72);
}

.ingredients {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.steps {
  list-style-type: none;
}
