body {
  background-color: #282828;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
}

.container {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#history {
  background: none;
  border: none;
  padding: 0;
  border-radius: 0;
}

#history img {
  width: 20px;
  height: auto;
  filter: invert(0.8);
}

#display {
  background: none;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 2em;
  padding: 10px;
  border-radius: 5px;
  text-align: right;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}
