.card {
  width: 100%;
  aspect-ratio: 3 / 4;
  background-color: transparent;
  perspective: 1000px; /* 3D effect */
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.card-front {
  background-color: #f0f0f0;
  color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-front p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0.6rem 0.8rem;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-family-game);
  font-weight: bold;
  color: #e6e6e6;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0) 50%,
    rgb(0, 0, 0) 100%
  );
  z-index: 2;
}

.card-back {
  background-color: #222;
  transform: rotateY(180deg);
}

.card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
